@charset "UTF-8";
/*
 * HTML5 ✰ Boilerplate
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #e3d7bf;
}

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a {
  color: #149cd7;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7 http://h5bp.com/d
 * 2. Remove the gap between images and borders on image containers http://h5bp.com/e 
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* =============================================================================
   Forms
   ========================================================================== */
fieldset {
  border: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

label {
  cursor: pointer;
}

button, input, select, textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
   Primary styles
   Author: Divya Manian
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.text-center, .index {
  text-align: center;
}

.text-uppercase, .index h1, .index h1 b,
article h3 b i, #searchurl, article > header .kind, article > header .name, .status, article div.more .updateurl, body > footer p:first-child {
  text-transform: uppercase;
}

.display-block, .index h2 b, .index h1 b,
article h3 b i, #searchurl, article > header .kind, .status i b, article.expanded div.more {
  display: block;
}

.display-inline {
  display: inline;
}

.reset-margin, body, nav ul, nav ol, figure, form, fieldset, button, input, select, textarea, article > header .kind, article > header .name, article > header .status, .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  margin: 0;
}

html {
  background-color: #232927;
  background-image: url('../img/denim.png?1325369446');
  color: #e3d7bf;
  background: -webkit-radial-gradient(20em 20em, circle cover, rgba(32, 124, 202, 0.1) 10em, rgba(32, 124, 202, 0) 10em), -webkit-radial-gradient(30em 30em, circle cover, rgba(205, 92, 92, 0.2) 5em, rgba(205, 92, 92, 0) 5em), -webkit-radial-gradient(60em 40em, circle cover, rgba(255, 255, 255, 0.1) 15em, rgba(255, 255, 255, 0) 15em), -webkit-radial-gradient(80em 60em, circle cover, rgba(128, 128, 0, 0.2) 8em, rgba(128, 128, 0, 0) 8em), -webkit-radial-gradient(40em 60em, circle cover, rgba(32, 124, 202, 0.2) 5em, rgba(32, 124, 202, 0) 5em), -webkit-radial-gradient(40em 50em, circle cover, rgba(0, 0, 0, 0.2) 5em, rgba(0, 0, 0, 0) 5em), url('../img/denim.png?1325369446');
  background: -moz-radial-gradient(20em 20em, circle cover, rgba(32, 124, 202, 0.1) 10em, rgba(32, 124, 202, 0) 10em), -moz-radial-gradient(30em 30em, circle cover, rgba(205, 92, 92, 0.2) 5em, rgba(205, 92, 92, 0) 5em), -moz-radial-gradient(60em 40em, circle cover, rgba(255, 255, 255, 0.1) 15em, rgba(255, 255, 255, 0) 15em), -moz-radial-gradient(80em 60em, circle cover, rgba(128, 128, 0, 0.2) 8em, rgba(128, 128, 0, 0) 8em), -moz-radial-gradient(40em 60em, circle cover, rgba(32, 124, 202, 0.2) 5em, rgba(32, 124, 202, 0) 5em), -moz-radial-gradient(40em 50em, circle cover, rgba(0, 0, 0, 0.2) 5em, rgba(0, 0, 0, 0) 5em), url('../img/denim.png?1325369446');
  background: -o-radial-gradient(20em 20em, circle cover, rgba(32, 124, 202, 0.1) 10em, rgba(32, 124, 202, 0) 10em), -o-radial-gradient(30em 30em, circle cover, rgba(205, 92, 92, 0.2) 5em, rgba(205, 92, 92, 0) 5em), -o-radial-gradient(60em 40em, circle cover, rgba(255, 255, 255, 0.1) 15em, rgba(255, 255, 255, 0) 15em), -o-radial-gradient(80em 60em, circle cover, rgba(128, 128, 0, 0.2) 8em, rgba(128, 128, 0, 0) 8em), -o-radial-gradient(40em 60em, circle cover, rgba(32, 124, 202, 0.2) 5em, rgba(32, 124, 202, 0) 5em), -o-radial-gradient(40em 50em, circle cover, rgba(0, 0, 0, 0.2) 5em, rgba(0, 0, 0, 0) 5em), url('../img/denim.png?1325369446');
  background: -ms-radial-gradient(20em 20em, circle cover, rgba(32, 124, 202, 0.1) 10em, rgba(32, 124, 202, 0) 10em), -ms-radial-gradient(30em 30em, circle cover, rgba(205, 92, 92, 0.2) 5em, rgba(205, 92, 92, 0) 5em), -ms-radial-gradient(60em 40em, circle cover, rgba(255, 255, 255, 0.1) 15em, rgba(255, 255, 255, 0) 15em), -ms-radial-gradient(80em 60em, circle cover, rgba(128, 128, 0, 0.2) 8em, rgba(128, 128, 0, 0) 8em), -ms-radial-gradient(40em 60em, circle cover, rgba(32, 124, 202, 0.2) 5em, rgba(32, 124, 202, 0) 5em), -ms-radial-gradient(40em 50em, circle cover, rgba(0, 0, 0, 0.2) 5em, rgba(0, 0, 0, 0) 5em), url('../img/denim.png?1325369446');
  background: radial-gradient(20em 20em, circle cover, rgba(32, 124, 202, 0.1) 10em, rgba(32, 124, 202, 0) 10em), radial-gradient(30em 30em, circle cover, rgba(205, 92, 92, 0.2) 5em, rgba(205, 92, 92, 0) 5em), radial-gradient(60em 40em, circle cover, rgba(255, 255, 255, 0.1) 15em, rgba(255, 255, 255, 0) 15em), radial-gradient(80em 60em, circle cover, rgba(128, 128, 0, 0.2) 8em, rgba(128, 128, 0, 0) 8em), radial-gradient(40em 60em, circle cover, rgba(32, 124, 202, 0.2) 5em, rgba(32, 124, 202, 0) 5em), radial-gradient(40em 50em, circle cover, rgba(0, 0, 0, 0.2) 5em, rgba(0, 0, 0, 0) 5em), url('../img/denim.png?1325369446');
  min-height: 100%;
  max-width: 100%;
}

body {
  max-width: 70%;
  margin: 3em auto;
  min-width: 60%;
  font: 16px/1.5 "Open Sans", sans-serif;
}

.index h1 {
  font-size: 5em;
  line-height: 1.2em;
  text-shadow: 1px 1px 1px #e88860, 2px 2px 1px #e88860, 3px 3px 1px #e88860, 3px 3px 1px #0c0d0d, 4px 4px 3px #0c0d0d;
  margin: 0.8em 0 0.5em 0;
}
.index h1 img {
  vertical-align: -10%;
}
.index h2 {
  font-size: 1em;
  margin: 0 auto;
  max-width: 60%;
  text-shadow: 1px 1px 1px #0c0d0d;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
}
.index h2 b {
  font-size: 2em;
  color: #e88860;
}
.index h1, .index h2 b {
  font-family: "Francois One", sans-serif;
}

.index h1 b,
article h3 b i {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

.index > div {
  padding: 1em 0 4em 0;
}

.index input[type="search"] {
  width: 50%;
  padding: 0.5em 1em;
  background: white;
  border-radius: 10em;
  border: 0;
  color: black;
  margin: 0;
}

#searchurl {
  -webkit-transition: height 500ms linear;
  -moz-transition: height 500ms linear;
  -ms-transition: height 500ms linear;
  -o-transition: height 500ms linear;
  transition: height 500ms linear;
  background: -webkit-linear-gradient(90deg, #f16529, #f48759);
  background: -moz-linear-gradient(90deg, #f16529, #f48759);
  background: -o-linear-gradient(90deg, #f16529, #f48759);
  background: -ms-linear-gradient(90deg, #f16529, #f48759);
  background: linear-gradient(90deg, #f16529, #f48759);
  font-size: 0.8em;
  padding: 0 1em;
  line-height: 2.5;
  left: 50%;
  width: 15em;
  color: white;
  text-shadow: 1px 1px 1px #491905;
  border-radius: 0 0 10px 10px;
  height: 0em;
  margin-left: -7.5em;
  overflow: hidden;
  position: absolute;
}

article {
  color: #232927;
  margin-bottom: 2em;
}

article > header {
  overflow: hidden;
  background: #e3d7bf;
  border-radius: 0.3rem;
  box-shadow: 0 0 7px #d3c19c inset;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
article > header:before {
  display: inline-block;
  vertical-align: middle;
  content: "+";
  font-size: 2rem;
  line-height: 1;
  border-radius: 2rem;
  height: 2rem;
  width: 2rem;
  margin: 0.4rem 0.5rem 0 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #957941;
  box-shadow: 0 0 7px #b49455 inset;
  background: #c4ab78;
}
article > header .kind, article > header .name, article > header .status {
  display: inline-block;
  vertical-align: middle;
}
article > header .name, article > header .kind {
  padding-top: 0.4rem;
}
article > header i {
  font-style: normal;
}
article > header .kind, article > header b {
  font-weight: normal;
}
article > header .kind {
  font-size: 0.8em;
  color: #e3d7bf;
  position: absolute;
  left: -5em;
  text-align: right;
  margin-top: 0.75em;
  width: 4.5em;
  z-index: 1;
  text-shadow: 1px 1px 1px #232927;
}
article > header .name {
  text-shadow: 1px 1px 1px #03151c;
  letter-spacing: 1px;
}
article > header .name a {
  color: #128bc0;
}

.status {
  background: indianred;
  font-size: 2em;
  border-radius: 0 0.2rem 0.2rem 0;
  padding: 0 1rem 0 0.5rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  position: relative;
  float: right;
  box-shadow: -4px 0px 6px #b43737 inset;
}
.status:before, .status:after {
  content: "";
  height: 50%;
  width: 0.8em;
  position: absolute;
  left: -0.8em;
  background: -webkit-linear-gradient(34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: -moz-linear-gradient(34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: -o-linear-gradient(34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: -ms-linear-gradient(34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: linear-gradient(34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
}
.status:before {
  top: 0;
}
.status:after {
  bottom: 0;
  background: -webkit-linear-gradient(-34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: -moz-linear-gradient(-34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: -o-linear-gradient(-34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: -ms-linear-gradient(-34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
  background: linear-gradient(-34deg, rgba(205, 92, 92, 0), rgba(205, 92, 92, 0) 50%, #bc3a3a 53%, #cd5c5c 56%);
}
.status i {
  font-size: 0.3em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  font-weight: normal;
}
.status i b {
  font-size: 1.5em;
}
.status.use {
  background: olive;
  box-shadow: -4px 0px 4px #666700 inset;
}
.status.use:before {
  background: -webkit-linear-gradient(34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: -moz-linear-gradient(34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: -o-linear-gradient(34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: -ms-linear-gradient(34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: linear-gradient(34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
}
.status.use:after {
  background: -webkit-linear-gradient(-34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: -moz-linear-gradient(-34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: -o-linear-gradient(-34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: -ms-linear-gradient(-34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
  background: linear-gradient(-34deg, rgba(128, 128, 0, 0), rgba(128, 128, 0, 0) 50%, #666700 53%, #808000 56%);
}
.status.caution {
  background: #e69500;
  box-shadow: -4px 0 6px #c27d00 inset;
}
.status.caution:before {
  background: -webkit-linear-gradient(34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: -moz-linear-gradient(34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: -o-linear-gradient(34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: -ms-linear-gradient(34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: linear-gradient(34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
}
.status.caution:after {
  background: -webkit-linear-gradient(-34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: -moz-linear-gradient(-34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: -o-linear-gradient(-34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: -ms-linear-gradient(-34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
  background: linear-gradient(-34deg, rgba(255, 165, 0, 0), rgba(255, 165, 0, 0) 50%, #ffa500 53%, #e69500 56%);
}

article .tags {
  display: none;
}

article div.more {
  display: none;
  opacity: 0;
  background: white;
  border-radius: 0 0 0.3rem 0.3rem;
  padding: 0.5em 1em 1.5em 1em;
  margin-top: -0.3rem;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 7px #0c0d0d;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}
article div.more .polyfills b {
  font-weight: bold;
}
article div.more .polyfills p {
  display: inline;
}
article div.more .updateurl {
  font-size: 0.8em;
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}

article.expanded > header {
  border-bottom: 1px solid #91a19b;
  box-shadow: 0 0 7px #d3c19c inset, 0 1px 7px #758983;
}
article.expanded > header:before {
  content: "-";
  line-height: 1.7rem;
}
article.expanded div.more {
  opacity: 1;
}

body > footer {
  text-align: center;
  padding: 3em 0;
  font-size: 0.8em;
  text-shadow: 1px 1px 1px #232927;
}
body > footer .builders a {
  display: inline-block;
  margin-right: 1.2em;
  text-align: left;
  width: 10em;
}
body > footer .builders img {
  float: left;
  margin-right: 1em;
  border-radius: 0.2rem;
}
body > footer .builders b {
  font-weight: normal;
  display: block;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
