@import "compass/css3/gradient";
@import "compass/css3/box-sizing";
@import "vars";

@mixin our-transition($arg) {
  -webkit-transition: unquote($arg);
     -moz-transition: unquote($arg);
      -ms-transition: unquote($arg);
       -o-transition: unquote($arg);
}

@mixin text-shadows($arg) {
  $count: 0;
  $textshadow: '';
  @each $value in $arg {
    $textshadow: $textshadow + $count + 'px ' + $count + 'px ';
  }
}

@function solid-text-shadows($color,$width) {
  $i: 1;
  $text-shadow: "";
  @while $i < ($width + 1) {
    $text-shadow: $text-shadow + $i + "px " + $i + "px " + "1px " + $color;
    
    @if($i != $width ) {
      $text-shadow: $text-shadow + ", ";
    }  
    $i: $i + 1;
  }
  
  @return unquote($text-shadow);
}

/*
 * HTML5 ✰ Boilerplate
 */

// =============================================================================
//   HTML5 element display
//   ========================================================================== 

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


// =============================================================================
//   Base
//   ========================================================================== 

html { font-size: 100%; overflow-y: scroll; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { @extend .reset-margin; }

body, button, input, select, textarea { font-family: sans-serif; color: $lightest; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


// =============================================================================
//   Links
//   ==========================================================================

a { color: $link-color; text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; text-decoration: underline; }


// =============================================================================
//   Typography
//   ========================================================================== 

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; @extend .reset-margin; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7 http://h5bp.com/d
 * 2. Remove the gap between images and borders on image containers http://h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { @extend .reset-margin; }


/* =============================================================================
   Forms
   ========================================================================== */

form { @extend .reset-margin; }
fieldset { border: 0; @extend .reset-margin; padding: 0; }

legend { border: 0; *margin-left: -7px; padding: 0; }

label { cursor: pointer; }

button, input, select, textarea { font-size: 100%; @extend .reset-margin; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: normal; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Divya Manian
   ========================================================================== */
* { @include box-sizing(border-box); }

@import "extends";
   
html {  
  background-color:  $dark; 
  background-image: image-url('denim.png');
  color: $lightest; 
  @include background(
            radial-gradient(20em 20em, circle cover, transparentize(#207cca, 0.9) 10em,  transparentize(#207cca, 1) 10em),
            radial-gradient(30em 30em, circle cover, transparentize(#cd5c5c, 0.8) 5em,  transparentize(#cd5c5c, 1) 5em),
            radial-gradient(60em 40em, circle cover, transparentize(white, 0.9) 15em, transparentize(white, 1) 15em),
            radial-gradient(80em 60em, circle cover, transparentize(olive, 0.8) 8em, transparentize(olive, 1) 8em),
            radial-gradient(40em 60em, circle cover, transparentize(#207cca, 0.8) 5em, transparentize(#207cca, 1) 5em),
            radial-gradient(40em 50em, circle cover, transparentize(black, 0.8) 5em, transparentize(black, 1) 5em),
            image-url('denim.png')            
          );
  min-height: 100%; 
  max-width: 100%; 
}
 
body {
  max-width: 70%;
  margin: 3em auto;
  min-width: 60%;
  font: 16px/1.5 $default-font-family;
}

.index { 
  @extend .text-center; 
  
  h1 {

    font-size: 5em; 
    line-height: 1.2em;   
    text-shadow: solid-text-shadows(lighten($contrast, 10%), 3), 3px 3px 1px darken($dark, 10%), 4px 4px 3px darken($dark, 10%);
    margin: 0.8em 0 0.5em 0; 

    img { vertical-align: -10%; }    
  }
  
  h2 {
    font-size: 1em;  
    margin: 0 auto; 
    max-width: 60%; 
    text-shadow: 1px 1px 1px darken($dark, 10%);
    font-weight: normal; 
    text-transform: none; 
    font-style: normal;    
    
    b {
      @extend .display-block;   
      font-size: 2em; 
      color: lighten($contrast, 10%);          
    }
  }
  
  h1, h2 b { font-family: $index-font-family; }  
}

.index h1 b,  
article h3 b i { 
  @extend .display-block;

  font-family: $default-font-family;  
  line-height: 1;  
}


.index > div { padding: 1em 0 4em 0; }

.index input[type="search"] { 
  width: 50%; 
  padding: 0.5em 1em; 
  background: white;
  border-radius: 10em;
  border: 0;
  color: darken($dark, 20%);
  margin: 0;
}

#searchurl { 
  @extend .display-block;
  @include our-transition('height 500ms linear'); 
  @include background(linear-gradient(90deg, #f16529,  lighten(#f16529, 10%)));      
  font-size: 0.8em;
  padding: 0 1em;
  line-height: 2.5;
  left: 50%;
  width: 15em;
  color: white;
  text-shadow: 1px 1px 1px darken(#f16529, 40%);
  border-radius: 0 0 10px 10px;
  height: 0em;
  margin-left: -7.5em;  
  overflow: hidden;
  position: absolute;
}

article { 
  color: $dark;
  margin-bottom: 2em; 
}

article > header {
  overflow: hidden;
  background: $lightest;
  border-radius: 0.3rem;
  box-shadow: 0 0 7px darken($lightest, 10%) inset;    
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:before {
    display: inline-block;
    vertical-align: middle;
    content: "+";
    font-size: 2rem;
    line-height: 1;
    border-radius: 2rem;   
    height: 2rem; width: 2rem;
    margin: 0.4rem 0.5rem 0 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px darken($lightest, 40%);
    box-shadow: 0 0 7px darken($lightest, 30%) inset;
    background: darken($lightest, 20%);      
  }
    
  .kind, .name, .status {
    @extend .reset-margin;
    display: inline-block;
    vertical-align: middle;    
  }
  
  .name, .kind { padding-top: 0.4rem; }
  
  i { font-style: normal; }
  .kind, b { font-weight: normal; }
  
  .kind {

    @extend .display-block;
    font-size: 0.8em;
    color: $lightest;    
    position: absolute;
    left: -5em;
    text-align: right;
    margin-top: 0.75em;
    width: 4.5em;
    z-index: 1;
    text-shadow: 1px 1px 1px $dark;
  }
  
  .name {
  
    text-shadow: 1px 1px 1px darken(#149CD7, 40%);  
    letter-spacing: 1px;   
    
    a { color: darken($link-color, 5%); } 
  }  
}

.status {

  background: indianred;
  font-size: 2em;    
  border-radius: 0 0.2rem 0.2rem 0;
  padding: 0 1rem 0 0.5rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  position: relative;
  float: right;
  box-shadow: -4px 0px 6px darken(#CD5C5C, 12%) inset;
  border-right: 1px solid darken(#CD5c5c, 22%);

  //Arrow like figures on the right
  &:before, 
  &:after {
    content: "";
    height: 50%;
    width: 0.8em;
    position: absolute;
    left: -0.8em; 
    @include background(linear-gradient(34deg, transparentize(#CD5C5C, 1), transparentize(#CD5C5C, 1) 50%, darken(#CD5C5C, 10%) 53%, #CD5C5C 56%));    
  }
  
  &:before { top: 0; }
  
  &:after {
    bottom: 0;
    @include background(linear-gradient(-34deg, transparentize(#CD5C5C, 1), transparentize(#CD5C5C, 1) 50%, darken(#CD5C5C, 10%) 53%, #CD5C5C 56%));          
  }
  
  i {
    font-size: 0.3em;
    display: inline-block;
    line-height: 1;
    text-transform: none; 
    font-weight: normal;

    b {
      @extend .display-block;
      font-size: 1.5em;
    }
  }
  
  &.use { 
    background: olive; 
    box-shadow: -4px 0px 4px darken(olive, 5%) inset;
    border-right-color: darken(olive, 12%);

    &:before{
      @include background(linear-gradient(34deg, transparentize(olive, 1),  transparentize(olive, 1) 50%, darken(olive, 5%) 53%,  olive 56%));                    
    }
    
    &:after {
      @include background(linear-gradient(-34deg, transparentize(olive, 1),  transparentize(olive, 1) 50%, darken(olive, 5%) 53%,  olive 56%));                  
    }
  }
  
  &.caution { 
    background: darken(#ffa500, 5%); 
    box-shadow: -4px 0 6px darken(#ffa500, 12%) inset;
    border-right-color: darken(#ffa500, 22%);
    
    &:before{
      @include background(linear-gradient(34deg, transparentize(#ffa500, 1), transparentize(#ffa500, 1) 50%, #FFA500 53%, darken(#ffa500, 5%) 56%));            
    }
    
    &:after {
      @include background(linear-gradient(-34deg, transparentize(#ffa500, 1), transparentize(#ffa500, 1) 50%, #FFA500 53%, darken(#ffa500, 5%) 56%));                  
    }
  }  
}

article .tags { display: none; }

article div.more {   
  display: none;
  opacity: 0;
  background: white;  
  border-radius: 0 0 0.3rem 0.3rem; 
  padding: 0.5em 1em 1.5em 1em;  
  margin: -0.3rem 1px 0 1px;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 7px darken($dark, 10%); 
  
  @include our-transition("opacity 1s ease-in");  
  

  .polyfills b { font-weight: bold; }
  
  .polyfills p { display: inline; }
  
  .updateurl {

    font-size: 0.8em;
    position: absolute;
    bottom: 0.5em;
    right: 1em;    
  }  
}

article.expanded {
  > header {
    border-bottom: 1px solid lighten($dark, 45%);
    box-shadow: 0 0 7px darken($lightest, 10%) inset, 0 1px 7px lighten($dark, 35%);      
    
    &:before { content: "-"; line-height: 1.7rem; }
  }
  
  div.more { 
    @extend .display-block;
    opacity: 1; 
  }
}

body > footer {
  text-align: center;  
  padding: 3em 0;
  font-size: 0.8em;   
  text-shadow: 1px 1px 1px $dark;     
    
  p:first-child { 

  }
  
  .builders a { 
    display: inline-block;
    margin: 0 1em 1em 0;
    text-align: left;
    width: 12em;
  }
  
  .builders img {
    float: left;
    margin-right: 1em;
    border-radius: 0.2rem;
  }
  
  .builders b {
    font-weight: normal;
    display: block;
  }
}
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

.hidden { display: none; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; @extend .reset-margin; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
