
# ----------------------------------------------------------------------
# Cross-domain AJAX requests
# ----------------------------------------------------------------------

# Serve cross-domain Ajax requests, disabled by default.
# enable-cors.org
# code.google.com/p/html5security/wiki/CrossOriginRequestSecurity

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>


<FilesMatch "script\.min\.js$">
  Header set X-SourceMap "../script.min.js.map"
</FilesMatch>
