<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title HTML5 Please
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Francois+One|Open+Sans:400italic,400,800", :rel => "stylesheet"}/
    
    %link{:href => "stylesheets/style.css", :rel => "stylesheet"}/
    %script{:src => "js/libs/modernizr-2.0.min.js"}
    %script{:src => "js/libs/respond.min.js"}
  %body
    %header
      %h1
        HTML5
        %img{:src => "img/HTML5-logo.png"}
        Please
      %h2 
        %b Use the new and shiny responsibly. 
        Look up properties and see if it is ready for use, and if so how you should use it with a polyfill,a fallback value or as it is. 
      %h3
        %b As recommended by
        %a{:href => "#"} Paul Irish
        %a{:href => "#"} Divya Manian
      %h4
        %input{:name => "livesearch", :placeholder => "type to filter", :type => "search", :value => ""}/
    #main{:role => "main"}
      %section

        %article.ok
          %h2
            SVG
          %h3
            %b Ok!
          %p
            All modern browsers support SVG. For legacy browsers, you can use
            %a{:href => "#"} svgweb
            as a flash-based polyfill, or develop with
            %a{:href => "#"} Raphaél
            which has a VML renderer for
            = succeed "." do
              %abbr{:title => "Internet Explorer 6-8. Prounced 'oldie'"} oldIE

        %article.fallback
          %h2
            Canvas
          %h3
            %b
              Ok!
              %i fallback
          %p
            %a{:href => "#"} FlashCanvas
            or
            %a{:href => "#"} excanvas
            are your polyfills of choice if you absolutely need it.

        %article.fallback
          %h2
            HTML5 video/audio
          %h3
            %b
              Ok!
              %i fallback
          %p Use mediaelement.js as polyfill for API (flash fallback w/ consistent visual design too).. Video for everyone base setup if No polyfill desired.

        %article.polyfill
          %h2
            CSS3 Selectors
          %h3
            %b 
              Ok!
              %i polyfill
          %p depends if you should use selectivizr based on what selectors you want and your browser support needs are!

        %article.no
          %h2
            Flexbox
          %h3
            %b No
          %p dont use, spec is changing. webkit and moz have incompatibilities that wont't be fixed. if you dive in, enjoy the bumpy waves

        %article.ok
          %h2
            %code data-*
            attributes
          %h3
            %b Ok!
          %p
            GROOVY everywhere obv. old browsers ignore unknown attributes, you can always use
            %code getAttribute
            or you can use the dataset polyfill for IE8+.

        %article.ok
          %h2
            CSS transitions
          %h3
            %b Ok!
          %p shim layer recomendded to get hwaccel with js fallback (isotope, yui transition, scripty2) ...  or let it degrade

        %article.no
          %h2
            CSS Animations
          %h3
            %b No
          %p experiemental u fuck

        %article.fallback
          %h2
            border-image
          %h3
            %b
              Ok!
              %i fallback
          %p use borderingaimage.com .. No support: use modernizr to detect and apply backgroundimage.. or add extra elements. ALSO WHO CARES border-image is dumb.

        %article.fallback
          %h2
            text-shadow
          %h3
            %b
              Ok!
              %i fallback
          %p mostly can degrade to Nothing. sometimes modernizr needed.

        %article.fallback
          %h2
            box-shadow
          %h3
            %b
              Ok!
              %i fallback
          %p 
        %article.no
          %h2
            box-reflections
          %h3
            %b No
          %p avoid

        %article.fallback
          %h2
            background-clip
          %h3
            %b
              Ok!
              %i fallback
          %p dont use webkit specific value (text) without feature detection, other values groovy. see mdc for compat

        %article.fallback
          %h2
            @font-face
          %h3
            %b
              Ok!
              %i fallback
          %p don't use cufon. use google webfonts or fontsquirrel generator

        %article.fallback
          %h2
            Web Storage
          %h3
            %b
              Ok!
              %i fallback

        %article.polyfill
          %h2
            %code &lt;input type="range">
          %h3
            %b
              Ok!
              %i polyfill
          %p
            We recommend you use blah blah, and use
            %a{:href => "#"} frank yan's polyfill
            or
            = succeed "'s." do
              %a{:href => "#"} freqdec

        %article.no
          %h2
            %code &lt;input type="color">
          %h3
            %b No
          %p experimental use only, too early to use the markup or polyfill in production

        %article.no
          %h2
            date
            %code &lt;input>s
          %h3
            %b No
          %p experimental use only, too early to use the markup or polyfill in production

        %article.no
          %h2
            HTML5 input validation
          %h3
            %b No
          %p uhhhh h5f or webshim or ... i dont know.

        %article.yes
          %h2
            position: fixed
          %h3
            %b 
              Ok!
              %i IE7+
          
          %p uhhhh h5f or webshim or ... i dont know.


        %article.yes
          %h2 
            position: fixed 
          %h3
            %b
              Ok!
              %i IE7+
          
          %p  uhhhh h5f or webshim or ... i dont know.


        %article.yes
          %h2 
            PNG Images
          %h3
            %b
              Ok!
              %i IE7+
          
          %p 32-bit pngs need a pngfix. DD_belatedPNG is the best of them, by far. However, 8-bit PNGs still have alpha transparency but fall back to index transparency in IE6, which in many cases is perfectly fine. Use 8-bit PNGs, and avoid 32-bit PNG as much as possible.


        %article.yes
          %h2 
            *:hover
          %h3
            %b
              Ok!
              %i IE7+
          
          %p
          
        %article.yes
          %h2
            background-attachment: fixed
          %h3
            %b
              Ok!
              %i IE7+
          
          %p 


        %article.yes
          %h2
            min/max-width
          %h3
            %b
              Ok!
              %i IE7+
          
          %p


        %article.yes
          %h2
            postMessage
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p
          
        %article.yes
          %h2
            Cross-Domain XHR
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p
            
        %article.fallback
          %h2
            Native JSON
            %b
               
          %h3
            %b
              Ok!
              %i IE8+            
          %p
          
        %article.fallback
          %h2
            Data URI
            %b
          %h3
            %b
              Ok!
              %i IE8+              
          %p

        %article.yes
          %h2
            Pseudo-elements :before, :after, :focus
          %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p
          
        %article.yes
          %h2
            localStorage & sessionStorage
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p
          
        %article.yes
          %h2
            DOM getters and setters
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p          
          
        %article.yes
          %h2
            querySelector & querySelectorAll()
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p          
          
        %article.yes
          %h2
            box-sizing
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p          
          
        %article.yes
          %h2
            display: table-cell, display: table
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p          
          
        %article.yes
          %h2
            inline-block
            %b
          %h3
            %b
              Ok!
              %i IE8+
          
          %p          
          
        %article.yes
          %h2
            &amp;shy;
            %b
          %h3
            %b
              Ok!
              %i ??
          %p          


        /
          <article>
          <h2> <b>90%</b></h2>
          <h3 class=fallback><b>Ok! <i>fallback</i></b></h3>
          <p> </p>
          </article>

    %footer


    
    / Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')    
    / scripts concatenated and minified via ant build script
    %script{:src => "js/plugins.js"}
    %script{:src => "js/script.js"}
    / end scripts

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

    /[if lt IE 7 ]
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
