#article
  %h2 
    :plain 
      position: fixed 
    %b 11% 
    / IE7+
  %h3( class="polyfill" )
    %b Not yet???
  %p  uhhhh h5f or webshim or ... i dont know.


#article
  %h2 
    :plain 
      .
    %b 11%
  %h3( class="polyfill" )
    %b Not yet???
  %p  .


#article
  %h2 
    :plain 
      PNG Images
    %b 11%
    / IE7+
  %h3( class="polyfill" )
    %b Not yet???
  %p 32-bit pngs need a pngfix. DD_belatedPNG is the best of them, by far. However, 8-bit PNGs still have alpha transparency but fall back to index transparency in IE6, which in many cases is perfectly fine. Use 8-bit PNGs, and avoid 32-bit PNG as much as possible.


#article
  %h2 
    :plain 
      hover psuedo-class selector
    %b 11%
  %h3( class="polyfill" )
    %b Not yet???
  %p  


/ 
  PNG support!
  position: fixed
  div:hover
  selectors: div:first-child, h2 + p, img[data-fullsize], and ul.main > li
  background-attachment: fixed
  min-width, max-height, etc
  IE7
  postMessage
  cross-domain XHR
  native JSON
  data URI
  `:before, :after, :focus`
  localStorage and sessionStorage
  getters and setters on DOM elements
  querySelector(), querySelectorAll()
  box-sizing!
  display: table-cell, table, etc.
  ff2.0
  inline-block arrived with 2.0 dying
  the &shy;

#k sup
